# Environment variables
.env
frontend/.env.local
backend/.env

# Frontend 
frontend/node_modules
frontend/dist/
frontend/.vite/

# Backend
backend/bin/
backend/tmp/

# Docker
docker-volumes/

# Research
Research/

client_secret.json
